<header class="mb-5">
    <nav class="navbar navbar-expand-lg bg-body-secondary border-bottom border-3 border-warning border-opacity-25">
        <a class="navbar-brand fw-bold fs-2 ps-5 mont" href="#">Bite Buddy</a>
        <div class="container-fluid">
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item pe-4">
                        <a class="nav-link active" aria-current="page" href="http://localhost:3001/">Home</a>
                    </li>
                    <li class="nav-item pe-4">
                        <a class="nav-link" href="http://localhost:3001/#features">Features</a>
                    </li>
                    <li class="nav-item pe-4">
                        <a class="nav-link" href="http://localhost:3001/#about">About</a>
                    </li>

                    {{!--
                    {{#if}}
                    <li class="nav-item pe-4">
                        <a class="nav-link" href="http://localhost:3001/application">Application</a>
                    </li>
                    (Comment1) The Username on line 23 needs to match that of the logged in user
                    <li class="nav-item pe-4">
                        <p class="nav-link">Username</p>
                    </li>
                    {{/if}}

                    {{#unless}}
                    --}}
                    <form class="d-flex" action="/auth/login" method="POST" role="search">
                        <input name="username" class="form-control me-2" type="text" placeholder="Username"
                            aria-label="Username">
                        <input name="password" class="form-control me-2" type="text" placeholder="Password"
                            aria-label="Password">
                        <button class="btn btn-outline-primary" type="submit">Login</button>
                    </form>
                    {{!-- {{/unless}} --}}
                </ul>
            </div>
        </div>
    </nav>
</header>


<section class="p-5 border-bottom border-5 border-warning border-opacity-25">
  <div class="container mb-5 d-flex flex-row text-center justify-content-evenly">
    <div class="col-3 ">
      <h2 class="fw-bold">Waste Less Product</h2>
      <h2 class="fw-bold">Make More Money</h2>
      <p>Whether you are a local restaurant or franchise, we understand there is a grey area of slow-times, less sale
        opportunity, and wasted food. Take advantage of Bite Buddy to put in the hard work of flipping those negatives
        into positives.</p>
      <form action="" id="busregpage">
        <button class="btnstyle" type="submit">BUSINESS REGISTER</button>
      </form>
    </div>


    <div class="p-5">
      <img id="imgsize" src="images/neonarrow.png" alt="neon orange arrow">
    </div>


    <div class="col-3">
      <h2 class="fw-bold">Save More Money</h2>
      <h2 class="fw-bold">Dine More Often</h2>
      <p class="p-2">If there is one thing we know, it's that eating out and ordering take-out is always great. Let
        Bite Buddy help make that happen more often, at a lower cost to your pockets!</p>
      <form action="" id="userregpage">
        <button class="btnstyle btnmove" type="submit">USER REGISTER</button>
      </form>
    </div>
  </div>
</section>


<section class="gradback border-bottom border-5 border-warning border-opacity-25" id="features">
  <div class="container d-flex flex-row justify-content-between align-items-center">
    <div class="text-light text-center">
      <h2 class="headtext fw-bolder mb-5">Bite Buddy is user-first</h2>
      <p class="m-4 paratext">Afford To Take-Out More Often</p>
      <p class="m-4 paratext">Save More Each Visit</p>
      <p class="m-4 paratext">Support Local Businesses</p>
      <p class="m-4 paratext">Reduce Food Waste</p>
    </div>


    <div class="p-5">
      <img id="mapsize" src="images/Restaurants.png"
        alt="google maps location of New York City with restaurants tagged">
    </div>
  </div>
</section>

<section id="testimonials">
  <div class="container testheight">
    <!-- top section -->
    <div class="testimonials_top">
      <h1>Client Testimonials</h1>
      <p>What They're Saying About Bite Buddy</p>
    </div>
    <!-- Testimonials container -->
    <div class="testimonials_container">
      <div class="testimonial_item col-3">
        <img src="./images/Colorful Gradient Background Man 3D Avatar.png" alt="customer testimonial 1">
        <div class="testimonialItem_info">
          <p>I started using Bite Buddy and it is one of the best investments as a student especially living off
            campus. I use it at least two times a week especially during exam weeks. The best part is you can schedule
            pickups ahead of time.</p>
          <h6>Michael Anderson - UCLA</h6>
          <div class="testimonialItem_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
      <div class="testimonial_item col-3">
        <img src="./images/Colorful Gradient Girl Hijab 3D Avatar-2.png" alt="customer testimonial 2">
        <div class="testimonialItem_info">
          <p>Me and my friends have been using Bite Buddy since freshman year of college and now we're juniors in
            graduate school. It's perfect for late night sessions with your friends just chilling, having some drinks,
            and game night.</p>
          <h6>Ryan Martinez - NYU</h6>
          <div class="testimonialItem_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
      <div class="testimonial_item col-3">
        <img src="./images/Colorful Gradient Girl Hijab 3D Avatar-3.png" alt="restaurant owner testimonial 1">
        <div class="testimonialItem_info">
          <p>Time's are rough and Bite Buddy gives me a peace of mind knowing my food will never go to waste and goes
            towards the ones in my community that need it the most. And I've been getting more new
            customers just from being registered on the app.</p>
          <h6>Jessica Lee - Plantopia</h6>
          <div class="testimonialItem_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
      <div class="testimonial_item col-3">
        <img src="./images/Colorful Gradient Girl Hijab 3D Avatar.png" alt="customer testimonial 1">
        <div class="testimonialItem_info">
          <p>Since I started using Bite Buddy I've not only saved money but I've gotten life long clientel. Owning a
            bakery shop it's very common for me to have leftover orders that haven't been picked up or paid for and
            Bite Buddy allows me to reach people that want me. </p>
          <h6>Sabrina Cooper - Sweet Escapes</h6>
          <div class="testimonialItem_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ourStory">
  <div class="box">
    <!-- top section -->
    <div class="ourStory_top">
      <h1>Our Story</h1>
    </div>
    <!-- Our Story Container -->
    <div class="ourStory_container" id="about">
      <div class="ourStory_item">
        <img src="./images/who-transparent.png" alt="Who we are">
        <div class="storyInfo">
          <p>
            Bite Buddy is a web application dedicated to providing you with the best opportunity for businesses
            to not only make more but give back to their community, students to eat more and save more, and help
            out the environment.
          </p>
        </div>
      </div>
      <div class="ourStory_item">
        <img src="./images/why-transparent.png" alt="Why we do this">
        <div class="storyInfo">
          <p>
            Everyday there are thousands of food from restaurants that go uneaten and thrown out. Restaurants
            lose thousands of money a day and students go hungry not being able to afford food. What better way
            for a win-win situation than restaurants being able to sell their leftover food at a fraction and
            students being able to buy the food at a price they can afford. Not only is this saving the pockets
            of restaurant owners and students but saving the environment.
          </p>
        </div>
      </div>
      <div class="ourStory_item">
        <img src="./images/how-transparent.png" alt="How we do it">
        <div class="storyInfo">
          <p>
            We spend our time connecting with businesses and students from all over. Students tell us what
            restaurants they want to see. Restaurants register to be see all over. Restaurants are able to sell
            their leftover food at a discounted price to students. Students are able to buy the leftover food at
            the end of the night at a discounted price.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="bg-body-secondary">
  <div class="container">
    <div class="text-center center-block p-1">
      <h3 class="mont fw-bold foottext p-3">Bite Buddy</h3>
      <a class="p-3" href="#"><img src="images/icons8-facebook-48.png" alt="facebook icon"></a>
      <a class="p-3" href="#"><img src="images/icons8-twitter-48.png" alt="twitter icon"></a>
      <a class="p-3" href="#"><img src="images/icons8-instagram-48.png" alt="instagram icon"></a>
      <a class="p-3" href="#"><img src="images/icons8-linkedin-48.png" alt="linkedin icon"></a>
      <p class="pt-4">&copy; 2023 Bite Buddy. All Rights Reserved</p>
    </div>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="js/home-script.js"></script>