.mont {
    font-family: 'Montserrat', sans-serif;
}

#imgsize {
    max-width: 250px;
    max-height: 250px;
}

.btnstyle {
    padding: 7px;
    background-color: rgb(254, 188, 2);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 25px rgb(255, 221, 118);
}

.btnmove {
    margin-top: 8.5px;
}

#mapsize {
    border: 7px solid white;
    border-radius: 20px;
    width: 600px;
    height: 650px;
    overflow: hidden;
    box-shadow: 0 0 25px rgb(255, 221, 118);
}

.gradback {
    background-image: -webkit-linear-gradient(40deg, #c5c5c5 50%, #d5d5d5 50%)
}

.registergrad {
    background-image: -webkit-linear-gradient(-60deg, #AED6F1 50%, #D6EAF8 50%)
}

.sectionheight {
    height: 700px;
}

#imgpad {
    padding-left: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#regimg {
    width: 715px;
    height: 445px;
}

#regwelcome {
    font-size: 50px;
}

#regbtn {
    width: 325px;
}

.headtext {
    font-size: 49px;
    text-decoration: underline;
}

.paratext {
    font-size: 20px;
}

.foottext {
    font-size: 35px;
}

.borbot {
    box-shadow: 0 5px 4px -4px rgb(254, 188, 2);
}

.bortop {
    box-shadow: 0 -5px 4px -4px rgb(254, 188, 2);
}

