@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.mont {
    font-family: 'Montserrat', sans-serif;
}

#imgsize {
    max-width: 250px;
    max-height: 250px;
}

.appback {
    background-color: #7E8C9C;
}

.btnstyle {
    padding: 7px;
    background-color: rgb(254, 188, 2);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 25px rgb(255, 221, 118);
}

.appzip {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px 8px 0 0;
}

.appresults {
    background-color: white;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.appfav {
    background-color: white;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 0 8px 8px;

}

.btnmove {
    margin-top: 8.5px;
}

#mapsize {
    border: 7px solid white;
    border-radius: 20px;
    width: 600px;
    height: 650px;
    overflow: hidden;
    box-shadow: 0 0 25px rgb(255, 221, 118);
}

.gradback {
    background-image: -webkit-linear-gradient(40deg, #c5c5c5 50%, #d5d5d5 50%)
}

.registergrad {
    background-image: -webkit-linear-gradient(-60deg, #AED6F1 50%, #D6EAF8 50%)
}

.sectionheight {
    height: 700px;
}

#imgpad {
    padding-left: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#regimg {
    width: 715px;
    height: 445px;
}

#regwelcome {
    font-size: 50px;
}

#regbtn {
    width: 325px;
}

.headtext {
    font-size: 49px;
    text-decoration: underline;
}

.paratext {
    font-size: 20px;
}

.foottext {
    font-size: 35px;
}

.borbot {
    box-shadow: 0 5px 4px -4px rgb(254, 188, 2);
}

.bortop {
    box-shadow: 0 -5px 4px -4px rgb(254, 188, 2);
}

#testimonials {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background-color: #fafbfc;
    padding: 5rem 0;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.testimonials_top,
.testimonials_container {
    padding: 0 1rem;
}

.testimonials_top {
    text-align: center;
}

.testimonials_top h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
}
.testimonials_top p {
    color: black;
    font-size: 1.1rem;
}

.testimonial_item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid whitesmoke;
    box-shadow: rgb(225, 221,118) 0px 0px 25px;
    z-index: 99;
}

.testimonialItem_info {
    /* background-color: white; */
    padding: 5.5rem 2rem 2rem 2rem;
    margin-top: -4rem;
    box-shadow: rgb(225, 221,118) 0px 0px 25px;
}

.testimonial_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.testimonials_container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.testimonialItem_info p {
    color: #7c8595;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.testimonialItem_info h6 {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.testimonialItem_rating {
    text-align: center;
    color: #fdcc28;
}

#ourStory {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background-color: #fafbfc;
    padding: 5rem 0;
    bottom: 50px;

}

.box {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.testheight {
    min-height: 500px;
}

.ourStory_top,
.ourStory_container {
    padding: 0 1rem;
}

.ourStory_top {
    text-align: center;
}

.ourStory_top h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
}

.ourStory_top p {
    color: black;
    font-size: 1.1rem;
}

.ourStory_item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid whitesmoke;
    background-color: white;
    box-shadow: rgb(225, 221,118) 0px 0px 25px;
    z-index: 99;
}

.storyInfo {
    background-color: white;
    padding: 5.5rem 2rem 2rem 2rem;
    margin-top: -4rem;
    /* box-shadow: rgb(225, 221,118) 0px 0px 25px;; */
}

.ourStory_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.ourStory_container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.storyInfo p {
    color: #7c8595;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

#map {
    border: 5px solid white;
    border-radius: 15px;
    overflow: hidden;
}